body{
    background-color: #DBE2EF;
}
.navbar, .container-fluid{
    background-color: #112D4E; /* Custom background color */
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: #F9F7F7; /* Custom text color */
}
.navbar ,.container-fluid{
    margin-top: 0; /* Remove any top margin */
    padding-top: 0; /* Remove any top padding */
    margin-bottom: -1vh;
}
.navbar-toggler, .navbar-toggler-icon{
    background-color: #ddd;
}

.navbar{
    z-index: 1;
    width: 100%
}
.collapse{
    background-color: #112D4E;
}
.navbar-collapse {
    background-color: #112D4E; /* Background color for collapsed menu */
    width: 100%;
}
@media (max-width: 991px) {
    .navbar-collapse{
        padding: 10px;
        border-radius: 10px;
    }
}
@media (max-width: 480px) {
    .navbar-collapse{
        padding: 10px;
        border-radius: 10px;
    }
}
.navbar-toggler{
    padding: 10px;
    margin:5px;
}
.navbar-toggler-icon{
    height: 1.1rem;
}
.navbar-brand{
    font-size: xx-large;
}